.App {
  text-align: center;
}

.tabs {
  height: 100px;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  display: flex;
}

.tabs li {
  cursor: pointer;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
}
.tabs li.active {
  background-color: #fff;
}

.tab-content {

  border: 1px solid #ccc;
  border-top: none;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}